.app_header
  .app_header__text
    家計簿
  .app_header__link
    = link_to root_path do
      一覧へ戻る

.app_new__contents
  = render partial: 'left-main'

  .app_new__contents__right
    = render partial: 'right-main'