.app_new__contents{
  &__left{
    width: 500px;
    height: 100%;
    float: left;
    &__period{
      font-size: 30px;
      color: brown;
      margin-bottom: 15px;
    }
    &__graph{
      height: 400px;
      width: 400px;
      margin-left: 40px;
    }
    &__total{
      font-size: 40px;
      padding-top: 30px;
      &__spending{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(155, 152, 152);
        widows: 25%;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
        }
      }
      &__income{
        display: flex;
        justify-content: space-between;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
        }
      }
      &__profit{
        display: flex;
        justify-content: space-between;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
          color: rgb(74, 83, 219);
        }
        &__right--red{
          margin-right: 60px;
          color: rgb(230, 86, 61);
        }
      }
    }
  }
}