.app_new__contents{
  &__right{
    width: 820px;
    float: left;
    &__contents{
      display: flex;
    }
    &__title{
      font-size: 30px;
    }
    &__list{
      font-size: 20px;
      width: 317px;
      &__food{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__daily-necess{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__utility{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__billing{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__entertainment{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__rent{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__mobile{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__scholarship{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__others{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__expense{
        margin-left: 30px;
      }
      &__amount{
        margin-left: 80px;
      }
    }
    &__title__income{
      font-size: 30px;
      margin-left: 20px;
    }
    &__list__income{
      width: 40%;
      font-size: 20px;
      &__salary{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__other{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
    }
    &__calc{
      margin-top: 60px;
      padding: 20px;
      border: 1px solid black;
      &__title{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
        color: coral;
      }
      &__forms{
        &__input1{
          height: 30px;
          width: 90%;
          padding: 5px;
          margin: 0px 0px 10px 10px;
        }
        &__input2{
          height: 30px;
          width: 90%;
          padding: 5px;
          margin: 0px 0px 10px 10px;
        }
        &__output{
          border-top: 1px solid black;
          text-align: center;
          font-size: 30px;
        }
      }
    }
  }
}