.app_new__contents{
  display: flex;
  padding: 30px;
  &__left{
    width: 40%;
    height: 100%;
    &__period{
      font-size: 30px;
      color: brown;
      margin-bottom: 15px;
    }
    &__graph{
      height: 400px;
      width: 400px;
      margin-left: 40px;
    }
    &__total{
      font-size: 40px;
      padding-top: 30px;
      &__spending{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(155, 152, 152);
        widows: 25%;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
        }
      }
      &__income{
        display: flex;
        justify-content: space-between;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
        }
      }
      &__profit{
        display: flex;
        justify-content: space-between;
        &__left{
          margin-left: 20px;
        }
        &__right{
          margin-right: 60px;
          color: rgb(74, 83, 219);
        }
        &__right--red{
          margin-right: 60px;
          color: rgb(230, 86, 61);
        }
      }
    }
  }
  &__right{
    width: 60%;
  }

  &__right{
    padding: 0px 30px;
    &__contents{
      display: flex;
    }
    &__title{
      font-size: 30px;
    }
    &__list{
      font-size: 20px;
      width: 40%;
      &__food{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__daily-necess{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__utility{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__billing{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__entertainment{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__rent{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__mobile{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__scholarship{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__others{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__expense{
        margin-left: 30px;
      }
      &__amount{
        margin-left: 80px;
      }
    }
    &__title__income{
      font-size: 30px;
      margin-left: 20px;
    }
    &__list__income{
      width: 40%;
      font-size: 20px;
      &__salary{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
      &__other{
        display: flex;
        justify-content: space-between;
        margin: 5px;
      }
    }
  }
  .app_new__contents__right__bottom{
    right: 40%;
    margin-top: 20px;
    &__title{
      font-size: 30px;
    }
    &__contents{
      display: flex;
      justify-content: space-between;
      padding: 0px 80px;
      &__spending{
        margin: 15px;
        &__title{
          font-size: 20px;
          margin-bottom: 20px;
        }
        &__form{
          &__expense{
            margin-bottom: 20px;
            &__form{
              padding: 10px;
              width: 220px;
              height: 50px;
            }
          }
          &__amount{
            margin-bottom: 20px;
            &__form{
              padding: 10px;
              width: 200px;
            }
          }
          &__submit{
            height: 50px;
            margin-left: 10px;
            &__button{
              width: 200px;
              height: 50px;
              color: white;
              background-color: rgb(231, 85, 40);
            }
          }
        }
      }
      &__income{
        margin: 15px;
        &__title{
          font-size: 20px;
          margin-bottom: 20px;
        }
        &__form{
          &__item{
            margin-bottom: 20px;
            &__form{
              width: 220px;
              height: 50px;
              padding: 10px;
            }
          }
          &__amount{
            margin-bottom: 20px;
            &__form{
              width: 200px;
              padding: 10px;
            }
          }
          &__submit{
            height: 50px;
            margin-left: 10px;
            &__button{
              width: 200px;
              height: 50px;
              color: white;
              background-color: rgb(231, 85, 40);
            }
          }
        }
      }
    }
  }
}