.app_new__contents{
  display: flex;
  padding: 30px;
  position: relative;
  &__right__calc{
    margin-top: 60px;
    padding: 20px;
    border: 1px solid black;
    &__title{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      color: coral;
    }
    &__forms{
      &__input1{
        height: 30px;
        width: 250px;
        padding: 5px;
        margin: 0px 0px 10px 10px;
      }
      &__input2{
        height: 30px;
        width: 250px;
        padding: 5px;
        margin: 0px 0px 10px 10px;
      }
      &__output{
        border-top: 1px solid black;
        text-align: center;
        font-size: 30px;
      }
    }
  }
  &__right__bottom{
    right: 40%;
    margin-top: 20px;
    &__title{
      font-size: 30px;
    }
    &__contents{
      display: flex;
      justify-content: space-between;
      padding: 0px 80px;
      &__spending{
        margin: 15px;
        &__title{
          font-size: 20px;
          margin-bottom: 20px;
        }
        &__form{
          &__expense{
            margin-bottom: 20px;
            &__form{
              padding: 10px;
              width: 220px;
              height: 50px;
            }
          }
          &__amount{
            margin-bottom: 20px;
            &__form{
              padding: 10px;
              width: 200px;
            }
          }
          &__submit{
            height: 50px;
            margin-left: 10px;
            &__button{
              width: 200px;
              height: 50px;
              color: white;
              background-color: rgb(231, 85, 40);
            }
          }
        }
      }
      &__income{
        margin: 15px;
        &__title{
          font-size: 20px;
          margin-bottom: 20px;
        }
        &__form{
          &__item{
            margin-bottom: 20px;
            &__form{
              width: 220px;
              height: 50px;
              padding: 10px;
            }
          }
          &__amount{
            margin-bottom: 20px;
            &__form{
              width: 200px;
              padding: 10px;
            }
          }
          &__submit{
            height: 50px;
            margin-left: 10px;
            &__button{
              width: 200px;
              height: 50px;
              color: white;
              background-color: rgb(231, 85, 40);
            }
          }
        }
      }
    }
  }
}